
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kolo landing page</title>
        <link rel="stylesheet" href="../static/css/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/css/main.css">
        
        <link href="../static/index.css" rel="stylesheet">
        <link href="../static/images/Kolo.png" rel="icon">
    </head>
    <body id="body">


        <header class="default-header" id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light" style="width:100%; padding: 0px;" id="navbar">
                <div id="container">
                    <img src="../static/images/Kolo.png" id="logo">
                      <button style="float: right; margin-top: 3px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent" style="width:100%;">
                    
                        <div id="navigation">
                            <div id="inner-navigation">
                                <a href="#" class="nav">About</a>
                                <a href="#" class="nav" style="border-top: none;">Savings</a>
                                <select class="nav" id="selection">
                                    <option value="products" class="nav" style="text-align: center;">Products</option>
                                    <option value="savings" class="nav" style="text-align: center;">Savings</option>
                                    <option value="loan" class="nav"  style="text-align: center;">Loan</option>
                                </select>
                                <a href="#" class="nav">FAQs</a>
                                <a href="#" class="nav" style="border-top: none;">Blog</a>
                            </div>
                            
                            <div id="login-nav">
                                    <a href="#" class="nav" id="login-btn">Login</a>
                                    <a href="#" class="nav" id="create-account">Create free account</a>
                            </div>
                        </div>
                    </div>
                
                
            
                </div>
            </nav>
        </header>


    <!-- <header>
        <div id="navbar" class="navbar-nav">
            <h1 id="logo" style="padding-left: 10px; color: #132B7E; size: 33px;">Kolo</h1>
                <a href="#" class="nav">About</a>
                <a href="#" class="nav">Savings</a>
                <select class="nav" id="selection">
                    <option value="products" class="nav" style="text-align: center;">Products</option>
                    <option value="savings" class="nav" style="text-align: center;">Savings</option>
                    <option value="loan" class="nav"  style="text-align: center;">Loan</option>
                </select>
                <a href="#" class="nav">FAQs</a>
                <a href="#" class="nav">Blog</a>
            <div id="login-nav" class="navbar-nav">
                    <a href="#" class="nav" id="login-btn">Login</a>
                    <a href="#" class="nav" id="create-account">Create free account</a>
            </div>
        </div>
    </header> -->
    <div class="section-1">
        <div class="section-1_child">
            <img src="../static/images/The Best Way to Manage Your Finances.png" id="image4">
            <br>
            <img src="../static/images/Get your finances, savings and budget under control all in one app.png" id="image5">
            <div id="section1_grand_child">
                <div id="section1_grand_child2">
                    <a href="#"><img src="../static/images/apple.png" style="height: 25px; margin-top: 10px;"></a>
                    <img src="../static/images/line.png" style="height: 25px; margin-top: 12px;">
                    <a href="#"><img src="../static/images/google play.png" style="height: 25px; margin-top: 12px;"></a>
                    <p style="margin-left: 6px; color: black; font-size: 18px; padding-top: 13px;">Download App</p>
                </div>
                <a href="#" class="nav" id="create-account">Create free account</a>
            </div>
        </div>
        <img src="../static/images/kolo1.png" id="image2">
    </div>
    <div id="section2">
        <div class="section2_grand_child">
            <div id="section2_grand_child3">
                <h2 style="width: 220px;">Why Choose Kolo?</h2>
                <p>we are an impact driven financial technology platform that offers a comprehensive and convenient solution for managing your finances</p>
            </div>
        </div>
        <div id="section2_grand_child2">
            <div class="section2_grand_child2">
                <img src="../static/images/convinience.png" class="icons">
                <h3 style="width: 250px;">Convinence</h3>
                <p class="section2_paragraph">we are an impact driven financial technology platform that offers a comprehensive and convenient solution for managing your finances</p>
            </div>
            <div class="section2_grand_child2">
                <img src="../static/images/security.png" class="icons">
                <h3 style="width: 250px;">Security</h3>
                <p class="section2_paragraph">we are an impact driven financial technology platform that offers a comprehensive and convenient solution for managing your finances</p>
            </div>
            <div class="section2_grand_child2">
                <img src="../static/images/innovation.png" class="icons">
                <h3 style="width: 250px;">Innovation</h3>
                <p class="section2_paragraph">we are an impact driven financial technology platform that offers a comprehensive and convenient solution for managing your finances</p>
            </div>
            <div class="section2_grand_child2">
                <img src="../static/images/savings.png" class="icons">
                <h3 style="width: 250px">Savings</h3>
                <p class="section2_paragraph">we are an impact driven financial technology platform that offers a comprehensive and convenient solution for managing your finances</p>
            </div>
        </div>
    </div>

            <script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/parallax.min.js"></script>			
			<script src="../static/js/owl.carousel.min.js"></script>		
			<script src="../static/js/jquery.magnific-popup.min.js"></script>				
			<script src="../static/js/jquery.sticky.js"></script>
			<script src="../static/js/main.js"></script>	
    </body>
</html>